@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




.App{
  background-color: #EEF1FA;
  min-height: 100vh;
  font-family: Poppins;
}

.components{
  margin: 0em 2.1em;
}

p{
  margin: 0 !important;
}